/*
1/22/2022
Here's a bunch of random css I cobbled together to make the Obsidian
editor and preview windows look kind of like what I want.
This code absolutely isn't clean (I don't know css well), and there's
discrepencies between editor and preview I don't like.
Note1: These are based on the "Minimal" Theme I downloaded
Note2: Each notebook (ie. personal and work) needs this file applied
Note3: Ctrl + Shift + i : Opens the layout debugger in the Obsidian editor
*/


:root {
    /* Sizes, weights, padding */
    --font-normal:14px;
    --font-small:12px;
    --font-smaller:10px;
    --font-smallest:8px;

    --h1:1.5em;
    --h2:1.25em;
    --h3:1.0em;
    --h4:0.9em;
    --h5:0.9em;
    --h6:0.9em;

    --h1-weight:800;
    --h2-weight:700;
    --h3-weight:700;
    --h4-weight:600;
    --h5-weight:400;
    --h6-weight:300;

    --normal-weight:350;   /* Switch to 300 if you want thinner default text */
    --bold-weight:700;     /* Switch to 700 if you want thicker bold text */
    --line-height:1.25;
    --max-width:100%;       /* Amount of padding around the text, use 90% for narrower padding */
    
    --nested-padding:3.5%; /* Quotes and transclusions */
    --list-padding:2em;    /* List padding */
  
    --radius-s:2px;
    --radius-m:5px;
    --radius-l:10px;
  
    --input-height:32px;
    --header-height:40px;
}


/* Bullets */
body.outliner-plugin-bls .cm-s-obsidian:not(.is-live-preview) .cm-formatting-list-ul:before,
body.outliner-plugin-bls .cm-s-obsidian.is-live-preview .list-bullet:before {
  color:var(--text-normal);
}
.mod-cm6 .HyperMD-list-line .list-bullet,
.mod-cm6 span.list-bullet {
  color:var(--text-normal);
  font-size:1.6em;
  line-height:0px;
  vertical-align:middle;
  padding-left:0em;
}

/* Checkbox */
.mod-cm6 .HyperMD-task-line[data-task] .task-list-item-checkbox {
    margin-left:-4px;
}
.task-list-item-checkbox,
.markdown-preview-view .task-list-item-checkbox {
    filter:none;
    width:1em;
    height:1em;
}
.markdown-preview-view .task-list-item-checkbox {
    position:relative;
    top:0.45em;
    margin-left:-2em;
    margin-right:6px;
}

input[type=checkbox] {
    border:1px solid var(--text-muted);
}

/* Remove strikethrough from completed to-do lists/checkbox */
.markdown-preview-view ul > li.task-list-item.is-checked {
    text-decoration: none;
    color: inherit;
}
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task]:not([data-task=" "]) {
    text-decoration: none;
    color: inherit;
}

.markdown-source-view.mod-cm6 .cm-scroller {
    padding-top: 0px;
    padding: 0px 1.3%;  /* Reduce padding on the left */
}

.markdown-preview-view h1, .markdown-preview-view h2, .markdown-preview-view h3, .markdown-preview-view h4, .markdown-preview-view h5, .markdown-preview-view h6 {
    margin: 0px 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.markdown-preview-view .collapse-indicator {
    position: absolute;
    margin-left: -44px;
    padding-bottom: 0px;
    padding-top: 0px;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.markdown-source-view.mod-cm6 .cm-scroller {
    padding-top: 0px;
}

ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

ul.contains-task-list {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.markdown-preview-view .markdown-preview-sizer, .markdown-source-view .CodeMirror {
    max-width: 95%;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.markdown-preview-view ul > li.task-list-item {
    text-indent: 0px;
    line-height: 1.4;
}

.nav-folder-children {
    padding-left: 14px;
}

.nav-folder-title {
    margin: 0 0 0 0px;
}

.nav-file {
    margin-left: 17px;
}
